In [1]:
import pandas as pd
!pip install Quandl
import quandl

Requirement already satisfied: Quandl in c:\users\saikat bishal\anaconda3\lib\site-packages (3.5.0)
Requirement already satisfied: pandas>=0.14 in c:\users\saikat bishal\anaconda3\lib\site-packages (from Quandl) (0.24.2)
Requirement already satisfied: requests>=2.7.0 in c:\users\saikat bishal\anaconda3\lib\site-packages (from Quandl) (2.22.0)
Requirement already satisfied: six in c:\users\saikat bishal\anaconda3\lib\site-packages (from Quandl) (1.12.0)
Requirement already satisfied: inflection>=0.3.1 in c:\users\saikat bishal\anaconda3\lib\site-packages (from Quandl) (0.3.1)
Requirement already satisfied: more-itertools in c:\users\saikat bishal\anaconda3\lib\site-packages (from Quandl) (7.0.0)
Requirement already satisfied: python-dateutil in c:\users\saikat bishal\anaconda3\lib\site-packages (from Quandl) (2.8.0)
Requirement already satisfied: numpy>=1.8 in c:\users\saikat bishal\anaconda3\lib\site-packages (from Quandl) (1.16.4)
Requirement already satisfied: pytz>=2011k in c:\users\saikat bishal\anaconda3\lib\site-packages (from pandas>=0.14->Quandl) (2019.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saikat bishal\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\saikat bishal\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\saikat bishal\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\saikat bishal\anaconda3\lib\site-packages (from requests>=2.7.0->Quandl) (3.0.4)

In [2]:
import math

In [3]:
quandl.ApiConfig.api_key = 'NSqfizFCGyobfUh-9CKE'
df=quandl.get('WIKI/GOOGL')

In [4]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [5]:
df=df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume']]

In [6]:
df['HL_PCT']=((df['Adj. High']-df['Adj. Close'])/df['Adj. Close'])*100.0

In [7]:
df['PCT_change']=((df['Adj. Close']-df['Adj. Open'])/df['Adj. Open'])*100.0

In [8]:
df=df[['Adj. Close','HL_PCT','PCT_change','Adj. Volume']]

In [9]:
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0
2004-08-20   54.322689  0.710922    7.227007   22834300.0
2004-08-23   54.869377  3.729433   -1.227880   18256100.0
2004-08-24   52.597363  6.417469   -5.726357   15247300.0
2004-08-25   53.164113  1.886792    1.183658    9188600.0

In [10]:
forecast_col='Adj. Close'

In [11]:
df.fillna(-99999,inplace=True)

In [12]:
forecast_out=int(math.ceil(0.01*len(df)))

In [13]:
df['label']=df[forecast_col].shift(-forecast_out)

In [14]:
df.dropna(inplace=True)

In [15]:
df.head()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume      label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0  69.078238
2004-08-20   54.322689  0.710922    7.227007   22834300.0  67.839414
2004-08-23   54.869377  3.729433   -1.227880   18256100.0  68.912727
2004-08-24   52.597363  6.417469   -5.726357   15247300.0  70.668146
2004-08-25   53.164113  1.886792    1.183658    9188600.0  71.219849

In [16]:
df.tail()

            Adj. Close    HL_PCT  PCT_change  Adj. Volume    label
Date
2018-01-30     1177.37  0.896914   -0.029718    1792602.0  1094.00
2018-01-31     1182.22  0.346805   -0.134312    1643877.0  1053.15
2018-02-01     1181.59  0.495942    0.476195    2774967.0  1026.55
2018-02-02     1119.20  1.081129   -0.729098    5798880.0  1054.09
2018-02-05     1068.76  4.325574   -2.893850    3742469.0  1006.94

In [17]:
import numpy as np

In [18]:
from sklearn import preprocessing, model_selection, svm
from sklearn.linear_model import LinearRegression

In [19]:
X=np.array(df.drop(['label'],1))
y=np.array(df['label'])

In [20]:
X=preprocessing.scale(X)

In [21]:
len(X)

3389

In [22]:
len(y)

3389

In [23]:
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=0.1)

In [24]:
clf=LinearRegression(n_jobs=-1)

In [25]:
clf.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [26]:
#with test_sixe=0.1
clf.score(X_test,y_test)

0.9747084510456808

In [37]:
#with test_size=0.2
accuracy=clf.score(X_test,y_test)

In [28]:
#clf1 is using support vector machine
clf1=svm.SVR()

In [29]:
clf1.fit(X_train, y_train)

C:\Users\SAIKAT BISHAL\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [30]:
#with test_size=0.2
clf1.score(X_test,y_test)

0.7919024889531266

In [31]:
#with test_size=0.1
clf1.score(X_test,y_test)

0.7919024889531266

We notice that the smaller the test size the better the prediction.   
  fit is synonymous to train data.   
  score is synonymous to test data

In [36]:
clf1.score(X_test,y_test)

0.7919024889531266

In [38]:
accuracy

0.9747084510456808